#locMap{
	height:200px;
}

#answerpanel {
	padding: 10px;
}

.answerTitle {
	font-weight: bold;
}

#subAnswer {
	margin-top: 10px;
	margin-bottom: 10px;
}

.answerRadio {
	margin: 3px !important;
}
#answerLocation h5{
	font-weight: bold;
}
.buttonLoc{
	text-align: center;
}
.answerMain{
	border-style:solid;
	border-width:0px;
	border-right-width:3px;
	border-right-color:#555;
	
}