
	<tr class="answer">
    	<td width="20px">
			<input type="text" value="000" name="border-color" class="pick-a-color form-control" > 
		</td>
		
		<td>
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Type an answer here">
			  <div class="input-group-btn" >
				<button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="left" title="Remove this answer" ><span class="fa fa-times"></span> </button>	
			  </div>
			</div>
		</td>

	</tr>

		  
