 <button type="button" id="createSurveyBut" class="btn btn-default" style="position:absolute;left:10px;top:10px;z-index:50" data-toggle="tooltip" data-placement="right" title="Select Question from below to add to Survey List">Create Survey</button>
<div style="padding:8px">
<table id="grid-user" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
			<th data-column-id="qid" data-type="numeric" data-identifier="true">QID</th>
            <th data-column-id="question">Question</th>
            <th data-column-id="created" data-order="desc">Created</th>
			<th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>
</div>